<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Massage Noir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="index.html">Home</a>
        <a class="nav-item nav-link" href="esemenyek.html">Árak</a>
        <a class="nav-item nav-link" href="jegyek.html">Masszázsok</a>
        <a class="nav-item nav-link" href="rolunk.html">Rólam</a>
        <a class="nav-item nav-link" href="belepes.html">Visszahívás kérés</a>
      </div>
    </div>
  </div>
</nav>
