/*.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
/*top: 0; /* Position the navbar at the top of the page */
/*width: 100%; /* Full width
}
*/
.navbar-color {
  background: white;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  padding: 15px 25px;
  position: center;
  z-index: 100;
}
