<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Massage Noir</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [collapse]="!isCollapsed" class="collapse navbar-collapse"id="collapseBasic">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/arak">Árak</a>
        <!--<a class="nav-item nav-link" routerLinkActive="active" routerLink="/masszazsok"
           id="navbarDropdownMenuLink"
           role="button"
           data-toggle="dropdown">Masszázsok
        </a>
        -->
        <div class="btn-group" dropdown>
          <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary dropdown-toggle menu-button"
                  aria-controls="dropdown-custom-html">
            Masszázsok <span class="caret"></span>
          </button>
          <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-custom-html">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#"><span class="badge badge-secondary">Some HTML here</span></a></li>
          </ul>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/masszazsok/testmasszazs">Tesmasszázs</a>
          <a class="dropdown-item" href="#">Testmasszázs</a>
          <a class="dropdown-item" href="#">Teljes testmasszázs</a>
        </div>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/rolam">Rólam</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="#">Visszahívás kérés</a>
      </div>
    </div>
  </div>
</nav>
