<div class="container-fluid topnav">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">

        <fa name="phone"></fa>
        <a class="header-elem" href="tel:+3670 6234943">+3670 6234943</a>
        <a class="header-elem" href="mailto:feketeeva86@gmail.com">feketeeva86@gmail.com</a>


      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">

        <a class="header-elem" href="tel:+3670 6234943">Facebook oldal</a>


      </div>
    </div>
  </div>
</div>
