<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <img src="src/assets/testmasszazs.jpg" class="w-100">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title">Test masszázs</h4>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <a href="#" class="btn btn-primary index_btn_card">Read More</a>
        </div>
      </div>

    </div>
</div>

</div>
