<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <img src="src/assets/testmasszazs.jpg" class="w-100 massage-img">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title">Test masszázs</h4>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
          <a roterlink="/massazsok/testmasszazs" class="btn btn-primary index_btn_card">Bővebben</a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <img src="src/assets/hatmasszazs.jpg" class="w-100 massage-img">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title">Hátmasszázs</h4>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
          <a roterlink="/massazsok/hatmasszazs" class="btn btn-primary index_btn_card">Bővebben</a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <img src="src/assets/arcmasszazs.jpg" class="w-100 massage-img">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title">Arcmasszázs</h4>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
          <a roterlink="/massazsok/arcmasszazs" class="btn btn-primary index_btn_card">Bővebben</a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <img src="src/assets/talpmasszazs.jpg" class="w-100 massage-img">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title">Talpmasszázs</h4>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
          <a roterlink="/massazsok/talpmasszazs" class="btn btn-primary index_btn_card">Bővebben</a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <img src="src/assets/irodai_masszazs.jpg" class="w-100 massage-img">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title">Irodai masszázs</h4>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
          <a roterlink="/massazsok/irodaimasszazs" class="btn btn-primary index_btn_card">Bővebben</a>
        </div>
      </div>
    </div>
  </div>
</div>
