<div class="container">

  <div class="card-deck pt-5">

    <div class="col col-md-6 col-lg-4">
      <div class="index_card text-center">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/price-tag.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Szolgáltatás árai</h4>
          <p class="index_text card-text">Itt tájékozódhatsz részletesen szolgáltatásom árairól.</p>
          <a href="#" class="btn btn-primary index_btn_card">Árak</a>
        </div>
      </div>
    </div>

    <div class="col col-md-6 col-lg-4">
      <div class="index_card text-center">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/massage-session.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Masszázsok</h4>
          <p class="index_text card-text">Itt megtalálhatod részletesen egy rövid leírással, hogy milyen
            masszázsokat vehetsz igénybe.</p>
          <a href="#" class="btn btn-primary index_btn_card">Masszázs</a>
        </div>
      </div>
    </div>

    <div class="col col-md-8 mx-md-auto col-lg-4">
      <div class="index_card text-center col">
        <div class="row justify-content-center">
          <img class="card-img-top img-fluid calendar" src="assets/phone-call.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">Visszahívás</h4>
          <p class="index_text card-text">Hogy vendégeim teljesen ellazulhassanak, nem tudom felvenni
            mindig a telefont. Ezért kérlek kérj egy visszahívást itt. Ne feledd, cserébe Téged sem
            foglak soha zavarni telefonálgatással...</p>
          <a href="regisztracio.html" class="btn btn-primary index_btn_card">Regisztráció</a>
        </div>
      </div>
    </div>

  </div>
</div>
